---
---
<footer class="footer">
  <div class="wrap">
    <div class="top">
      <div>
        <div class="brand">
          {/* 濃い背景ではロゴの青文字が沈むため、白い台座を敷く */}
          <span class="brand-plate"><img class="brand-logo" src="/logo.svg" alt="ホワイト急便" width="493" height="393" /></span>
          <span class="brand-name">太田<small>WHITE OTA SINCE 1972</small></span>
        </div>
        <p class="lead">日本さわやかグループ 株式会社ホワイト急便太田。群馬県全域・埼玉県北部で、暮らしと仕事の“きれい”を支えています。</p>
        <p class="nap">〒370-0426 群馬県太田市世良田町283-1（本部事務所）<br>TEL 0276-52-7027（平日 9:00〜17:00）<br>info@white-ota.co.jp</p>
      </div>
      <div>
        <h4>Service</h4>
        <ul>
          <li><a href="/service/">サービス一覧</a></li>
          <li><a href="/premium/">ハイクラス仕上げ</a></li>
          <li><a href="/corporate/">法人・団体のお客様</a></li>
          <li><a href="/stores/">店舗・工場案内</a></li>
        </ul>
      </div>
      <div>
        <h4>Company</h4>
        <ul>
          <li><a href="/news/">お知らせ・セール</a></li>
          <li><a href="/company/">会社案内</a></li>
          <li><a href="/recruit/">採用情報</a></li>
          <li><a href="/guide/">クリーニング Q&amp;A</a></li>
          <li><a href="/contact/">お問い合わせ</a></li>
        </ul>
      </div>
    </div>
    <div class="bottom">
      <span>© 2026 株式会社ホワイト急便太田 / White Ota Co., Ltd.</span>
      <span>関連会社：(株)立協製作所 ／ (株)ホワイト急便熊谷</span>
    </div>
  </div>
</footer>
